<div class='home-page-wrapper'>
  <div class='loader-trophy-wrapper'>
    <img class='loader-trophy-image' src='assets/img/trophy.png'/>
  </div>
  <button *ngIf="homeTeam" class='country-button'>
    <img [routerLink]="'/' + homeTeam.route" routerLinkActive="active" ariaCurrentWhenActive="page"
         src={{homeTeam.logo}} style='width:100%; height:100%;'/>
  </button>
  <button class='country-button'>
    <div class='vs-wrapper'>
      <p class='vs-paragraph'> vs </p>
    </div>
  </button>
  <button *ngIf="guestTeam" class='country-button'>
    <img [routerLink]="'/' + guestTeam.route" routerLinkActive="active" ariaCurrentWhenActive="page"
         src={{guestTeam.logo}} style='width:100%; height:100%;'/>
  </button>
</div>
